{% extends "base.html" %}



{% block content %}

<div class="container mt-4">

    {% for post in posts %}
    <div class="row align-items-start mb-4 p-3 shadow-sm rounded bg-light">
        <div class="col-1 d-flex align-items-center justify-content-center">
            <img src="{{post.author.avatar(64)}}" alt="Author avatar" class="img-fluid rounded-circle">
        </div>
        <!--Post Title-->
        <div class="col-11">
            <h2 class="mb-2"><a href="{{ url_for('read_post', slug=post.slug) }}"
                    class="text-decoration-none text-dark">{{
                    post.title }}</a></h2>
        </div>
        <!-- Post Body -->
        <div class="text-truncate">
            <p>{{ post.body[:150] }}{% if post.body|length > 150 %}...{% endif %}
            </p>
            <p class="text-muted small"><i>{{ post.author.username }}</i> | <span>{{ post.create_at.strftime('%B %d,
                    %Y') }}</span></p>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}